.login{
    border-radius: 50px;
    font-family: iran;
}

.modal{
    .modal-2{
        background-color: rgb(255, 255, 102);
    }
    .btn-close{
        
        text-align: left;
    }
    h5{
        font-family: iran;
       
    }
    label{
        font-family: iran;
        
    }
    .modal-footer{
        font-family: iran;
        display: block;
        text-align: center;
        display: block;
        button{
            width: 150px
        }
    }
}